<!-- signup.component.html -->
<div style="margin-top: 10%"></div>
<div class="signup-container">
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        required
        [(ngModel)]="username"
        name="username"
        #usernameInput="ngModel"
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        required
        [(ngModel)]="password"
        name="password"
        #passwordInput="ngModel"
      />
    </div>
    <div>
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        required
        [(ngModel)]="name"
        name="name"
        #nameInput="ngModel"
      />
    </div>
 
    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        required
        [(ngModel)]="email"
        name="email"
        #emailInput="ngModel"
      />
    </div>

    <div>
      <label for="phone">Phone:</label>
      <input
        type="text"
        id="phone"
        required
        [(ngModel)]="phone"
        name="phone"
        #phoneInput="ngModel"
      />

    <!-- Employer attribute -->
     <div *ngIf="isEmployer">
      <label for="company">Company:</label>
      <input
        type="text"
        id="company"
        required
        [(ngModel)]="company"
        name="company"
        #companyInput="ngModel"
      />
      
     </div>
     </div>
   
    <button type="submit" [disabled]="!signupForm.form.valid">Sign Up</button>
  </form>
</div>