<!-- home.component.html -->
<div class="home-container">
  <div class="section profile-section">
   
    <app-profile></app-profile>
  </div>
  <div class="section updates-section">
    <h3>Job Posts / Updates</h3>
    <div class="job-posts-container">
      <mat-spinner *ngIf="isLoading"></mat-spinner>
      <app-job-posts *ngIf="!isLoading" [jobPosts]="jobPosts"></app-job-posts>
    </div>
  </div>
  <div class="section blank-section">
    <h3>  <mat-icon (click)="loadAppliedJobs()">refresh</mat-icon>  Applied Jobs </h3>
    <mat-spinner *ngIf="isLoadingAppliedJobPosts"></mat-spinner>
    <app-applied-jobs *ngIf="!isLoadingAppliedJobPosts" [appliedJobPosts]="appliedJobPosts">  </app-applied-jobs>
  </div>
</div>
